<% content_for :title, "Sign In - Whisperer" %>

<h3 class="mt-8 text-center text-xl font-semibold md:mt-12 lg:mt-24">Login</h3>
<h3 class="text-base-content/70 mt-2 text-center text-sm">
  Seamless Access, Secure Connection: Your Gateway to a Personalized
  Experience.
</h3>
<%= form_with model: resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-6 md:mt-10" } do |f| %>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Email Address</legend>
    <%= f.label :email, class: "input w-full focus:outline-0" do %>
      <span class="iconify lucide--mail text-base-content/80 size-5"></span>
      <%= f.email_field :email,
                      autofocus: true,
                      autocomplete: "email",
                      class: "grow focus:outline-0",
                      placeholder: "Email Address" %>
    <% end %>
  </fieldset>

  <fieldset class="fieldset" data-controller="toggle-password-visibility">
    <legend class="fieldset-legend">Password</legend>
    <%= f.label :password, class: "input w-full focus:outline-0" do %>
      <span class="iconify lucide--key-round text-base-content/80 size-5"></span>
      <%= f.password_field :password,
                           autocomplete: "current-password",
                           class: "grow focus:outline-0",
                           data: { toggle_password_visibility_target: "input" },
                           placeholder: "Password" %>
      <label class="swap btn btn-xs btn-ghost btn-circle text-base-content/60">
        <input
          type="checkbox"
          data-toggle-password-visibility-target="checkbox"
          data-action="change->toggle-password-visibility#toggle"
          aria-label="Show password"/>
        <span class="iconify lucide--eye swap-off size-4"></span>
        <span class="iconify lucide--eye-off swap-on size-4"></span>
      </label>
    <% end %>
  </fieldset>

  <div class="text-end">
    <%= link_to "Forgot Password?", new_password_path(resource_name), class: "label-text text-base-content/80 text-xs" %>
  </div>

  <div class="mt-4 flex gap-3 md:mt-6">
    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me, class: "checkbox checkbox-sm checkbox-primary" %>
      <label for="remember_me" class="text-sm">Remember me</label>
    <% end %>
  </div>

  <%= f.button type: :submit, class: "btn btn-primary btn-wide mt-4 max-w-full gap-3 md:mt-6" do %>
    <span class="iconify lucide--log-in size-4"></span>
    Sign In
  <% end %>
  <p class="text-base-content/80 mt-4 text-center text-sm md:mt-6">
    Don't have an account?
    <%= link_to "Create one here", new_registration_path(resource_name), class: "text-primary ms-1 hover:underline" %>
  </p>
  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <p class="text-base-content/80 mt-4 text-center text-sm">
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-primary ms-1 hover:underline" %>
    </p>
  <% end %>
<% end %>