<div class="mt-2 px-2.5" id="project_switcher">
  <% if @current_project %>
    <div class="dropdown dropdown-bottom dropdown-end w-full">
      <div tabindex="0" class="border border-base-300 hover:bg-base-200 rounded-box flex cursor-pointer items-center gap-2 p-1 pe-2">
        <%= project_avatar(@current_project.id) %>
        <div class="grow min-w-0">
          <p class="text-sm font-medium truncate"><%= @current_project.name %></p>
          <p class="mt-1 text-xs/none opacity-60 truncate"><%= @current_project.description.presence || "No description" %></p>
        </div>
        <span class="iconify lucide--chevrons-up-down text-base-content/50 shrink-0"></span>
      </div>
      <div tabindex="0"
           class="dropdown-content bg-base-100 rounded-box mt-1 w-48 transition-all z-50">
        <ul class="menu w-full space-y-1 p-2 shadow-md overflow-hidden">
          <!-- Edit current project -->
          <li>
            <%= link_to edit_project_path(@current_project), data: { turbo_frame: "modal" }, class: "flex items-center gap-2" do %>
              <span class="iconify lucide--settings size-4 text-base-content/60 shrink-0"></span>
              <span class="truncate">Project Settings</span>
            <% end %>
          </li>

          <% if @other_projects.any? %>
            <li class="menu-title text-xs pt-2">Switch Project</li>
            <% @other_projects.each do |project| %>
              <li class="overflow-hidden">
                <%= button_to switch_project_path(project),
                              method: :post,
                              class: "flex items-center gap-2 w-full cursor-pointer min-w-0" do
                %>
                  <span class="shrink-0"><%= project_avatar(project.id) %></span>
                  <span class="truncate"><%= project.name %></span>
                <% end %>
              </li>
            <% end %>
          <% end %>

          <hr class="border-base-300 -px-2 my-2 border-dashed"/>

          <!-- Create new project -->
          <li>
            <%= link_to new_project_path, data: { turbo_frame: "modal" }, class: "flex items-center gap-2 text-primary" do %>
              <span class="iconify lucide--plus-circle size-4 shrink-0"></span>
              <span class="truncate">Create New Project</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
    <!-- No projects - show create button -->
    <%= link_to new_project_path, data: { turbo_frame: "modal" }, class: "btn btn-primary btn-block gap-2" do %>
      <span class="iconify lucide--plus size-4"></span>
      Create Your First Project
    <% end %>
  <% end %>
</div>