<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <title><%= content_for(:title) || "Whisperer" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>
<div class="size-full">
  <div class="flex">
    <%= render "shared/sidebar" %>

    <div class="flex h-screen min-w-0 grow flex-col overflow-auto">
      <%= render "shared/topbar" %>

      <%= render "shared/flash" %>

      <div id="layout-content" class="p-4 sm:p-6">
        <%= yield %>
      </div>

      <!-- Modal container for Turbo Frame -->
      <%= turbo_frame_tag "modal" %>

      <%= render "shared/footer" %>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.7/simplebar.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.7/simplebar.css"/>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>
</html>
